*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: url("../../assets/theme-bg.svg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
}